.editHeader {
  padding: 12px 24px 0;
  background-color: #fff;

  :global {
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
      background-color: #E0BB7C;
    }

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
      border-color:#E0BB7C;
    }

    .ant-steps-item {
      padding-bottom: 12px;
    }
  }
}

.editWrapper {
  // height: calc(100vh - 290px);
  // overflow-x: hidden;
  // overflow-y: auto;

  .topTitle {
    width: 100%;
    height: 56px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 56px;
    color: #000000;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 20px;
    padding: 0 24px;

    > i {
      color: #F42A2A;
      vertical-align: middle;
    }
  }

  .saveBtn {
    width: 160px;
  }

  .form {
    .formBody {
      padding: 0 24px;
      height: calc(100vh - 400px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .privateItem {
      :global {
        .ant-form-item-label {
          text-align: left;
        }
      }
    }

    .privateDesc {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, .4);
      padding-left: 20px;
      vertical-align: middle;
    }

    .privateSwitch {
      float: right;
      margin-top: 5px;
    }

    .specialtyMinusIcon {
      padding-top: 8px;
    }

    .lotteryItem {
      border: 1px solid #d9d9d9;
      margin: 10px 0;
      border-radius: 10px;
      padding: 16px;
      position: relative;

      .close {
        font-size: 24px;
        position: absolute;
        right: -5px;
        top: -12px;
        background-color: #fff;
      }
    }
  }
}

.eventDetail {
  width: 100%;
  height: calc(100vh - 168px);
  overflow-x: hidden;
  overflow-y: auto;

  .tag {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.24px;
    border-radius: 8px 0 8px 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  :global(.ant-spin-container) {
    height: 100%;
    background-color: #E5E5E5;
    position: relative;

    > div:first-of-type {
      height: 100%;
      overflow: auto;
    }
  }

  .wrapper {
    width: calc(100% - 250px);
    min-height: 100%;
    background-color: #fff;
    padding: 24px;

    .basicInfo {
      display: flex;

      .infoWrapper {
        padding-top: 20px;
        flex: 1;

        > h3 {
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: #201F1E;
        }

        .description {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: -0.5px;
          color: rgba(0, 0, 0, .7);
          margin-top: 14px;
        }

        .infoList {
          margin-top: 28px;

          > li {
            .tit {
              width: 120px;
              display: inline-block;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 15px;
              letter-spacing: -0.5px;
              color: rgba(90, 88, 85, 0.4);
            }

            .cont {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 15px;
              letter-spacing: -0.5px;
              color: #5A5855;
            }
          }
        }
      }
    }

    .swiper {
      width: 260px;
      height: 242px;
      overflow: hidden;
      border-radius: 4px;

      > img {
        width: 260px;
        height: 242px;
      }
    }
  }

  .collapseWrapper {
    :global {
      .ant-collapse-header {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #E0BB7C;
        position: relative;
        padding-left: 0;

        > div {
          position: absolute;
          right: 0px;
          color: #B0B0B0;
        }
      }

      .ant-collapse-content-box {
        padding-left: 0;
      }
    }

    .specialties {
      ul {
        > li {
          display: flex;
          margin-top: 15px;

          &:first-of-type {
            margin-top: 0;
          }

          > i {
            font-size: 24px;
            margin-right: 8px;
          }

          .info {
            flex: 1;

            .tit {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.5px;
              text-transform: capitalize;
              color: #000000;
            }

            .cont {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: -0.5px;
              color: #5A5855;
              margin-top: 4px;
            }
          }
        }
      }
    }

    .timeline {
      ul {
        > li {
          margin-top: 25px;

          &:first-of-type {
            margin-top: 0;
          }

          .name {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.5px;
            color: #000000;
          }

          .desc {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            text-align: justify;
            letter-spacing: -0.5px;
            color: #5A5855;
            margin-top: 4px;
          }
        }
      }
    }

    .lottery {
      ul {
        > li {
          display: flex;
          margin-top: 20px;

          &:first-of-type {
            margin-top: 0;
          }

          > img {
            width: 160px;
            height: 120px;
            border-radius: 4px;
            margin-right: 24px;
          }

          .info {
            flex: 1;

            > div {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.5px;
              text-transform: capitalize;
              color: #000000;
              margin-top: 8px;
            }

            .desc {
              color: rgba(0, 0, 0, .45);
            }
          }
        }
      }
    }

    .sale {
      ul {
        > li {
          display: flex;
          margin-top: 20px;

          &:first-of-type {
            margin-top: 0;
          }

          > img {
            width: 160px;
            height: 120px;
            border-radius: 4px;
            margin-right: 24px;
          }

          .info {
            flex: 1;

            > div {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.5px;
              text-transform: capitalize;
              color: #000000;
              margin-top: 8px;

              > span {
                margin-right: 20px;
              }
            }

            .desc {
              color: rgba(0, 0, 0, .45);
            }
          }
        }
      }
    }

    .staff {
      ul {
        > li {
          display: flex;
          margin-top: 20px;

          &:first-of-type {
            margin-top: 0;
          }

          > img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 20px;
          }

          .info {
            flex: 1;

            > div {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.5px;
              text-transform: capitalize;
              color: #000000;
              margin-top: 8px;

              > span {
                margin-right: 20px;
              }
            }

            .desc {
              color: rgba(0, 0, 0, .45);
            }
          }
        }
      }
    }
  }

  .stepWrapper {
    position: fixed;
    top: 160px;
    right: 80px;
  }
}

.eventsList {
  width: 100%;
  height: calc(100% - 54px);
}